# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# space indentation for JSON and YML
[*.{json,yml}]
indent_size = 2

# space indentation for Kotlin
[*.{kt,kts}]
indent_size = 4
max_line_length = 200

# ktlint rules
# https://github.com/pinterest/ktlint/issues/527
disabled_rules=import-ordering
