package com.example

import com.example.generated.JUnitQuery
import com.example.generated.executeJUnitQuery
{{#webClient}}
import com.expediagroup.graphql.client.spring.GraphQLWebClient
import org.springframework.web.reactive.function.client.WebClient
{{/webClient}}
{{^webClient}}
import com.expediagroup.graphql.client.ktor.GraphQLKtorClient
{{/webClient}}
import io.ktor.client.features.defaultRequest
import io.ktor.client.request.header
import kotlinx.coroutines.runBlocking
import java.net.URL

fun main() {
    {{^defaultHeader}}
    val client = GraphQLKtorClient(URL(System.getProperty("graphQLEndpoint")))
    {{/defaultHeader}}
    {{#defaultHeader}}
        {{#webClient}}
    val webClientBuilder = WebClient.builder()
        .defaultHeader("{{name}}", "{{value}}")
    val client = GraphQLWebClient(
        url = System.getProperty("graphQLEndpoint"),
        builder = webClientBuilder
    )
        {{/webClient}}
        {{^webClient}}
    val client = GraphQLKtorClient(URL(System.getProperty("graphQLEndpoint"))) {
        defaultRequest {
            header("{{name}}", "{{value}}")
        }
    }
        {{/webClient}}
    {{/defaultHeader}}
    val variables = JUnitQuery.Variables(JUnitQuery.SimpleArgumentInput(min = null, max = null, newName = "blah"))
    val query = JUnitQuery(variables)


    runBlocking {
        {{^requestHeader}}
        val response = client.executeJUnitQuery(query)
        {{/requestHeader}}
        {{#requestHeader}}
        val response = client.executeJUnitQuery(query) {
            header("{{name}}", "{{value}}")
        }
        {{/requestHeader}}

        val data = response.data
        assert(data != null)
        val scalarResult = data?.scalarQuery
        assert(scalarResult is JUnitQuery.ScalarWrapper)
        assert(scalarResult != null)
        assert(scalarResult?.count is Int)
        {{#customScalarsEnabled}}
        assert(scalarResult?.custom is JUnitQuery.UUID)
        {{/customScalarsEnabled}}
        {{^customScalarsEnabled}}
        assert(scalarResult?.custom is String)
        {{/customScalarsEnabled}}
        assert(JUnitQuery.CustomEnum.ONE == data?.enumQuery)
        val interfaceResult = data?.interfaceQuery
        assert(interfaceResult is JUnitQuery.SecondInterfaceImplementation)
        val unionResult = data?.unionQuery
        assert(unionResult is JUnitQuery.BasicObject2)
        assert(response.errors == null)
        assert(response.extensions == null)
    }
}
