package com.example

import com.example.generated.JUnitQuery
import com.expediagroup.graphql.client.ktor.GraphQLKtorClient
import kotlinx.coroutines.runBlocking
import org.junit.jupiter.api.Assertions.assertEquals
import org.junit.jupiter.api.Assertions.assertNotNull
import org.junit.jupiter.api.Assertions.assertTrue
import org.junit.jupiter.api.Test
import org.junit.jupiter.api.assertDoesNotThrow
import java.io.File
import java.net.URL
import java.nio.file.Paths

class GraphQLMavenPluginTest {

    @Test
    fun `verify client code was generated`() {
        val buildDirectory = System.getProperty("buildDirectory")
        val path = Paths.get(buildDirectory, "generated", "sources", "graphql", "com", "example", "generated", "JUnitQuery.kt")
        assertTrue(path.toFile().exists(), "graphql client was generated")
    }

    @Test
    fun `verify client code was generated and can execute query`() {
        val graphQLEndpoint = System.getProperty("graphQLEndpoint")
        val client = GraphQLKtorClient(URL(graphQLEndpoint))
        val query = JUnitQuery(client)

        val variables = JUnitQuery.Variables(simpleCriteria = JUnitQuery.SimpleArgumentInput(min = null, max = null, newName = "blah"))
        assertDoesNotThrow {
            runBlocking {
                val response = query.execute(variables = variables)
                assertTrue(response.errors == null)
                val data = response.data
                assertNotNull(data)
                val scalarResult = data?.scalarQuery
                assertTrue(scalarResult is JUnitQuery.ScalarWrapper)
                assertNotNull(scalarResult)
                assertTrue(scalarResult?.count is Int)
                {{#customScalarsEnabled}}
                    assertTrue(scalarResult?.custom is JUnitQuery.UUID)
                {{/customScalarsEnabled}}
                {{^customScalarsEnabled}}
                    assertTrue(scalarResult?.custom is String)
                {{/customScalarsEnabled}}
                assertEquals(JUnitQuery.CustomEnum.ONE, data?.enumQuery)
                val interfaceResult = data?.interfaceQuery
                assertTrue(interfaceResult is JUnitQuery.SecondInterfaceImplementation)
                val unionResult = data?.unionQuery
                assertTrue(unionResult is JUnitQuery.BasicObject2)
            }
        }
    }
}
