name: Build and Test Libraries

on:
  workflow_call:

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'

      - name: Set up Gradle cache
        uses: gradle/actions/setup-gradle@v3

      - name: Build libraries with Gradle
        run: ./gradlew clean build

      - name: Archive failure build reports
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: build-reports
          path: |
            ./**/build/reports
            plugins/graphql-kotlin-maven-plugin/build/integration/**/build.log
            plugins/graphql-kotlin-maven-plugin/build/integration/**/target/surefire-reports
          retention-days: 7
