name: Continuous Integration

on:
  push:
    branches:
      - master
      - '*.x.x'
    paths-ignore:
      - 'website/**'

jobs:
  build-libraries:
    uses: ./.github/workflows/build-libraries.yml

  build-examples:
    needs: build-libraries
    uses: ./.github/workflows/build-examples.yml

  federation-composition:
    needs: build-libraries
    uses: ./.github/workflows/federation-composition.yml

  federation-compatibility:
    needs: build-libraries
    uses: ./.github/workflows/federation-compatibility.yml
#    secrets:
#      token: ${{ secrets.GITHUB_TOKEN }}

  release-notes:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Release Drafter
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
