name: Continuous Integration

on:
  push:
    branches:
      - master
      - '*.x.x'
    paths-ignore:
      - 'website/**'

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Set up Java 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'zulu'

      - name: Set up Gradle cache
        uses: gradle/gradle-build-action@v2

      - name: Build libraries with Gradle
        run: ./gradlew clean build

      - name: Archive failure build reports
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: build-reports
          path: |
            ./**/build/reports
            plugins/graphql-kotlin-maven-plugin/build/integration/**/build.log
            plugins/graphql-kotlin-maven-plugin/build/integration/**/target/surefire-reports
          retention-days: 7

      - name: Build examples with Gradle
        working-directory: examples
        run: ./gradlew clean build

      - name: Archive examples failure build reports
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: build-examples-reports
          path: ./examples/**/build/reports
          retention-days: 7

  release-notes:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Release Drafter
        uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
