name: Federation Compatibility

on:
  workflow_call:
#    secrets:
#      token:
#        required: true

jobs:
  compatibility:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: integration/federation-compatibility

    steps:
      - uses: actions/checkout@v3

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Set up Java 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'zulu'

      - name: Set up Gradle cache
        uses: gradle/gradle-build-action@v2

      - name: Build compatibility app with Gradle
        run: ./gradlew bootJar graphqlGenerateSDL

      - name: Compatibility Test
        uses: apollographql/federation-subgraph-compatibility@v1
        with:
          compose: 'integration/federation-compatibility/docker-compose.yaml'
          schema: 'integration/federation-compatibility/build/schema.graphql'
          debug: true
#          token: ${{ secrets.token }}
