name: Plugin Integration Tests

on:
  workflow_call:

jobs:
  android-test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: integration/gradle-plugin-android-test

    steps:
      - uses: actions/checkout@v3
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Set up Gradle cache
        uses: gradle/gradle-build-action@v2
      - name: Android Test
        run: ./gradlew build
      - name: Archive failures
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: gradle-plugin-android-build-reports
          path: integration/gradle-plugin-android-test/**/build/reports
          retention-days: 7

  gradle-integration-tests:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: integration/gradle-plugin-integration-tests

    steps:
      - uses: actions/checkout@v3
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Set up Gradle cache
        uses: gradle/gradle-build-action@v2
      - name: Integration Tests
        run: ./gradlew build
      - name: Archive failures
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: gradle-plugin-build-reports
          path: integration/gradle-plugin-integration-tests/**/build/reports
          retention-days: 7

  maven-integration-tests:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: integration/maven-plugin-integration-tests

    steps:
      - uses: actions/checkout@v3
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'zulu'
          cache: 'maven'
      - name: Set up Gradle cache
        uses: gradle/gradle-build-action@v2
      - name: Integration Tests
        run: ./gradlew build
      - name: Archive failures
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: maven-plugin-build-reports
          path: |
            integration/maven-plugin-integration-tests/build/integration/**/build.log
            integration/maven-plugin-integration-tests/build/integration/**/target/surefire-reports
          retention-days: 7
