name: Pull Request Check

on:
  pull_request:
    branches:
      - master
      - '*.x.x'
    paths-ignore:
      - 'website/**'
      - '*.md'

jobs:
  build-libraries:
    uses: ./.github/workflows/build-libraries.yml

  build-examples:
    needs: build-libraries
    uses: ./.github/workflows/build-examples.yml

  federation-composition:
    needs: build-libraries
    uses: ./.github/workflows/federation-composition.yml

  federation-compatibility:
    needs: build-libraries
    uses: ./.github/workflows/federation-compatibility.yml
