name: Pull Request Federation Check

on:
  pull_request_target:
    branches:
      - master
    paths:
      - 'generator/graphql-kotlin-federation/**'
      - 'integration/federation-compatibility/**'

jobs:
  federation-integration:
    uses: ./.github/workflows/federation-integration.yml
    with:
      fork: true
    secrets:
      token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}

  federation-composition:
    needs: build-libraries
    uses: ./.github/workflows/federation-composition.yml
