name: Pull Request Check Documentation

on:
  pull_request:
    branches:
      - master
    paths:
      - 'website/**'

jobs:
  check-docs:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    if: github.repository == 'ExpediaGroup/graphql-kotlin'

    steps:
      - uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Build website
        run: |
          cd website
          bun install --frozen-lockfile
          bun run build
