name: Publish Latest Docs

on:
  push:
    branches:
      - master
    paths:
      - 'website/**'

jobs:
  publish-docs:
    permissions:
      contents: write
    timeout-minutes: 10
    runs-on: ubuntu-latest
    if: github.repository == 'ExpediaGroup/graphql-kotlin'

    steps:
      - uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Build website
        run: |
          cd website
          bun install --frozen-lockfile
          bun run build

      - name: Deploy GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/build
          user_name: eg-oss-ci
          user_email: oss@expediagroup.com
