name: Publish Latest Docs

on:
  push:
    branches:
      - master
    paths:
      - 'website/**'

jobs:
  publish-docs:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    if: github.repository == 'ExpediaGroup/graphql-kotlin'

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 17

      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('website/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-

      - name: Build website
        run: |
          cd website
          npm install
          npm run build

      - name: Deploy GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/build
          user_name: eg-oss-ci
          user_email: oss@expediagroup.com
